
/* BASIC */
body {
    font-family: "pp-sans-small-regular", Helvetica Neue, Arial, sans-serif;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-family: "pp-sans-big-light", Helvetica Neue, Arial, sans-serif;
}

h4, h5, .h4, .h5 {
    font-family: "pp-sans-small-light", Helvetica Neue, Arial, sans-serif;
}

/* HOVER CSS CUSTOM */
.hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover {
    background-color: #0079C1;
}

/* SELECT 2 STYLING */
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #717074;
    border: solid 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0079C1;
    color: #fff;
    border: 1px solid #0079C1;
    border-radius: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #eee;
}

/* SIDEBAR */
#sidebar-menu > ul > li > a:hover {
    background-color: #00457C;
}

/* DATATABLE STYLING */
.table-striped tbody tr:nth-of-type(odd).selected, .table-striped tbody tr:nth-of-type(even).selected, .table tbody tr.selected {
    background-color: rgba(230,231,232,.4);
}

.table td, .table th {
    vertical-align: middle;
    min-width: 100px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    min-width: 100px;
    font-family: "pp-sans-big-light", Helvetica Neue, Arial, sans-serif;
}

.table tbody td {
    font-family: "pp-sans-small-light", Helvetica Neue, Arial, sans-serif;
}

.table.matrix tbody td {
    font-size: 12px;
}

.table.matrix thead th {
    font-size: 14px;
}

.scrollXtable {
    overflow-x: auto;
}

/* CARD STYLING */
.card-deck {
    width: 100%;
}


.brand-icons {
    font-size: 3em;
}

img.snapshot {
    width: 100%;
}

.video-on {
    color: green;
}

.video-off {
    color: red;
}

.tstat {
    min-height: 350px;
    background-size: 275px 275px;
    background-image: url(/static/images/nest-ts.png);
    background-repeat: no-repeat;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: center;
    background-position-y: 40px;
}

.temp {
    position: relative;
    top: 100px;
    left: 5px;
    font-size: 4em;
    color: #fff;
}

.temp-setting, .heat-setting, .cool-setting {
    position: relative;
    padding: 0;
}

.temp-setting {
    font-family: "pp-sans-small-light", Helvetica Neue, Arial, sans-serif; 
    font-size: 1.3em;
    top: 100px;
    color: #fff;
}

.temp-set, .temp-icon-set, .temp-deg-set {
    margin: auto;
}

.cool-on, .heat-on {
    color: #fff;
}

.heat-off, .cool-off {
    color: #26B9CE;
}

.status-header {
    font-size: 1.1em;
}

/* PARSLEY STYLING */
.parsley-error {
    border-color: rgba(224, 50, 35, .5);
}

input.form-control.parsley-error:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgba(224, 50, 35, 1);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(206, 95, 95, 0.25);
}

ul.parsley-errors-list {
    margin-bottom: 0;
    color: #E03223;
    list-style-type: none;
    padding-left: 1.5em;
    font-size: 12px;
}

ul.parsley-errors-list li:before {
  content: "\f00d"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

li.parsley-required {
    color: #E03223;
}

input.form-control::placeholder {
    color: #DEE2E6;
}

@media (min-width: 576px) {
    .card-header h3 {
        font-size: 1rem;
    }
}


@media (min-width: 1100px) {
    .card-header h3 {
        font-size: 1.3rem;
    }
}

@media (min-width: 1500px) {
    .card-header h3 {
        font-size: 1.6rem;
    }
}

@media (min-width: 2048px) {
    
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 2632px) {
    
    .card-columns {
        column-count: 5;
    }
}

