<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

    <head>

    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Mission House</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
    	<meta name="description" content="Home Automation Dashboard">        

        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/css/bootstrap-select.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/pp-fonts.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">        =
    </head>

    <body class="adminbody widescreen">

        <div id="main">        
            <div class="headerbar">
                <div class="headerbar-left">
        			<a href="/admin" class="logo"><img alt="Logo" src="/static/images/logo.png"> <span>Mission</span></a>
                </div>
                <nav class="navbar-custom"></nav>
            </div>
     	</div>
            <footer class="footer">

            	<span class="text-right">
                	Copyright <a target="_blank" href="#">Mission House</a>
            	</span>
            	
            </footer>
        </div>

    </body> 
</html>