{% extends "layout.html" %}
{% block head %}
{{ super() }}
    
    {% assets "index_css" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    
    {% assets "master_css" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}


{% endblock %}
{% block content %}
{{ super() }}
<div class="container spacer-50">
    <h2 class="header pb-4">Follow the Hunt</h2>
    <div class="media">
        <div class='col-md-6 hidden-sm hidden-xs'>
            <img class='map-info' src="{{ url_for('static', filename='img/map.png') }}">
        </div>
        <div class='col-md-6 col-xs-12'>
            <div class='card border-light mb-3'>
                <div class="card-body">
                    <p>View tracking data for our Coues Whitetail hunt in Arizona's Sierrita & Cerro Colorado mountains</p>
                    <p>Click the View Map to see more information</p>
                    <button id="showMap" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#mapModal">View Map</button>
                    <!--<button id="showTestMap" class="btn btn-primary" data-toggle="modal" data-target="testmapModal">View Test Map</button>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Weather Section -->
<div class="jumbotron dashboard weather">
  <div class="container"></div>
</div>

<div class="container spacer-50">
    <div class='col-xs-12'>
        <h2 class="header">Weather</h3>
        <p class="center">3-day forecast for the Arizona 36A Game Management Unit<p>
    </div>
    
    {% if forecast == 0 %}
    <div class='col-xs-12'>
        <h1>Unable To Get Weather</h1>
    </div>
    {% else %}
    
        <!-- Determine Forecast Schedule -->
        {% if forecast[0]['name'] == 'Today' or forecast[0]['name'] == 'This Afternoon' %}
            {% set d = 0 %}
            {% set t = 2 %}
        
        <div class='card-group col-xs-12'>
            <div class="card">
                <div class="card-header">
                    {{ forecast[d]['name'] }}
                </div>
                <div class='card-body'>
                    <div class="col-xs-12">
                        <div class='media'>
                            <img src="{{forecast[d]['icon']}}"/>
                            <div class='col-4'>
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class='temp high-temp'>High:</label>
                                            </td>
                                            <td>
                                                {{ forecast[d]['max'] }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Precip:</label> 
                                            </td>
                                            <td>
                                                {{ forecast[d]['precip'] }}%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 pb-4 pt-2">
                            {{ forecast[d]['wordedForecast'] }}
                        </div>
                    </div>
                    <div class="col-xs-12 pl-0">
                        <div class="col-xs-12">
                            <h5 class="card-title">{{ forecast[d + 1]['name'] }}</h5>
                        </div>
                        <div class='media'>
                            <img src="{{forecast[d + 1]['icon']}}"/>
                            <div class='col-4'>
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class='temp low-temp'>Low:</label> 
                                            </td>
                                            <td>
                                                {{ forecast[d]['min'] }} 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Precip:</label> 
                                            </td>
                                            <td>
                                                {{ forecast[d+1]['precip'] }}%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 pb-1 pt-2">
                            {{ forecast[d+1]['wordedForecast'] }}
                        </div>
                    </div>
                </div>
            </div>
        
        {% else %}
            {% set d = -1 %}
            {% set t = 2 %}
            <div class='card-group col-xs-12'>
            <div class="card">
                <div class="card-header">
                    {{ forecast[d + 1]['name'] }}
                </div>
                <div class='card-body'>
                    <div class="col-xs-12 pl-0">
                        <div class='media'>
                            <img src="{{forecast[d + 1]['icon']}}"/>
                            <div class='col-4'>
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                        <tr>
                                             <td>
                                                <label class='temp low-temp'>Low:</label> 
                                            </td>
                                            <td>
                                                {{ forecast[d + 1]['min'] }} 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Precip:</label> 
                                            </td>
                                            <td>
                                                {{ forecast[d + 1]['precip'] }}%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 pb-4 pt-2">
                            {{ forecast[d + 1]['wordedForecast'] }}
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        <!-- Day 2 Forecast -->
            <div class="card">
                <div class="card-header">
                    {{ forecast[d + t]['name'] }}
                </div>
                <div class='card-body'>
                    <div class="col-xs-12 pl-0">
                        <div class='media'>
                            <img src="{{forecast[d + t]['icon']}}"/>
                            <div class='col-4'>
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class='temp high-temp'>High:</label>
                                            </td>
                                            <td>
                                                {{ forecast[d + 1]['max'] }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Precip:</label> 
                                            </td>
                                            <td>
                                                {{ forecast[d + t]['precip'] }}%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 pb-4 pt-2">
                            {{ forecast[d + t]['wordedForecast'] }}
                        </div>
                    </div>
                    <div class="col-xs-12 pl-0">
                        <div class="col-xs-12">
                            <h5 class="card-title">{{ forecast[d + t + 1]['name'] }}</h5>
                        </div>
                        <div class='media'>
                            <img src="{{forecast[d + t + 1]['icon']}}"/>
                            <div class='col-4'>
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class='temp low-temp'>Low:</label> 
                                            </td>
                                            <td>
                                                {{ forecast[d + 1]['min'] }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Precip:</label> 
                                            </td>
                                            <td>
                                               {{ forecast[d + t + 1]['precip'] }}%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 pb-1 pt-2">
                            {{ forecast[d + t + 1]['wordedForecast'] }}
                        </div>
                    </div>
                </div>
            </div>
    
        
        <!-- Day 3 Forecast -->    
        
            <div class="card">
                <div class="card-header">
                    {{ forecast[d + t + 2]['name'] }}
                </div>
                <div class='card-body'>
                    <div class="col-xs-12">
                        <div class='media'>
                            <img src="{{forecast[d + t + 2]['icon']}}"/>
                            <div class='col-4'>
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class='temp high-temp'>High:</label>
                                            </td>
                                            <td>
                                                {{ forecast[d + 2]['max'] }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Precip:</label> 
                                            </td>
                                            <td>
                                                {{ forecast[d + t + 2]['precip'] }}%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 pb-4 pt-2">
                            {{ forecast[d + t + 2]['wordedForecast'] }}
                        </div>
                    </div>
                    <div class="col-xs-12 pl-0">
                        <div class="col-xs-12">
                            <h5 class="card-title">{{ forecast[d + t + 3]['name'] }}</h5>
                        </div>
                        <div class='media'>
                            <img src="{{forecast[d + t + 3]['icon']}}"/>
                            <div class='col-4'>
                                <table class="table table-sm table-borderless">
                                    <tbody>
                                         <tr>
                                            <td>
                                                <label class='temp low-temp'>Low:</label> 
                                            </td>
                                            <td>
                                                {{ forecast[d + 2]['min'] }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Precip:</label> 
                                            </td>
                                            <td>
                                               {{ forecast[d + t + 3]['precip'] }}%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 pb-1 pt-2">
                            {{ forecast[d + t + 3]['wordedForecast'] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<!-- Activity Section -->
<div class="jumbotron dashboard activity">
  <div class="container"></div>
</div>
<div class="container">
    {% if activity == 0 %}
        <h3>No Activity Available</h3>
    {% else %}
    <table id="activity_table" class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Event</th>
                <th>Elevation</th>
                <th>Velocity</th>
            </tr>
        </thead>
        <tbody>
            {% for act in activity %}
                <tr>
                    <td>{{ act['name'] }}</td>
                    <td>{{ act['time'] }}</td>
                    <td>{{ act['event'] }}</td>
                    <td>{{ act['ele'] }}</td>
                    <td>{{ act['velocity'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Arizona GMU 36A</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="map-canvas" style='height:450px;' class="modal-body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="testmapModal" tabindex="-1" role="dialog" aria-labelledby="testmyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Flat Tops Wilderness</h3>
            </div>
            <div id="test-map-canvas" style='height:450px;' class="modal-body"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {{ super() }} 
    
    {% assets "index_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% if activity != 0 %}
        {% assets "datatable_js" %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endif %}
    
{% endblock %}