{% extends "layout.html" %}
{% block head %}
{{ super() }}
    
    {% assets "master_css" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
        
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid dashboard home">
    <a class='no-decoration' href='https://swordpoint.idleline.io/home/status'><h1 class="display-3">Mission House</h1></a>
  <div class="container"></div>
</div>

<div class="container spacer-50">
    <h2 class="header pb-4">Dashboard</h2>
    <div class="row">
    <div class='card-deck'>
        <div class="card">
            <div class="card-header">
                <h4 class='device-header'>{{devices['name'] }} Thermostat</h4>
            </div>
            <div class='card-body'>
                <div class="col-xs-12 text-center">
                    <label class="temp-label mb-0" for="{{ devices['structure_id']}}"><h4 class="header mb-1">Current</h4></label>
                    <h1 id="{{ devices['structure_id']}}" class='temp'>{{ devices['ambient_temperature_f'] }}&#8457;</h1>
                </div>
                <div class="media">
                    <div class='col-6 text-center'>
                        <span>{% if devices['can_heat'] == True %}<i class="fa fa-fire heat-on"></i> Heat On{% else %}<i class="fa fa-fire heat-off"></i> Heat Off</span>{% endif %}
                        <div>
                            <span class='text-muted'>{{ devices['target_temperature_low_f'] }}</span>
                        </div>
                    </div>
                    <div class='col-6 text-center'>
                        <span>{% if devices['can_cool'] == True %}<i class="fa fa-snowflake cool-on"></i> Cool On{% else %}<i class="fa fa-snowflake cool-off"></i> Cool Off</span>{% endif %}
                         <div>
                            <span class='text-muted'>{{ devices['target_temperature_high_f'] }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class='device-header'>Ring Doorbell</h4>
            </div>
            <div class='card-body'>
                <div class="col-xs-12">
                    <video id="last-ding-video" width="100%" controls>
                        <source src="/static/media/last_ding.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>  
        <div class="card">
            <div class="card-header">
                <h4 class='device-header'>{{ cameras['name_long'] }}</h4>
            </div>
            <div class='card-body'>
                <div class="media">
                    <img class="snapshot" src="{{ cameras['snapshot_url' ]}}"/>
                </div>
                <div class="card-text">
                    <span><i class="fas fa-video {% if cameras['is_online'] == True %}video-on"></i> Recording{% else %}video-off"></i> Stopped</span>{% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row justify-content-center mt-1">
        <h3 class="header">Ring Stickup Cameras</h3>
    </div>
    <div class="row">
    <div class="card-deck">
    {% for c in cams %}
        <div class="card">
            <div class="card-header">
                <h4 class='device-header'>{{ c.name }}</h4>
            </div>
            <div class='card-body'>
                <div class="col-xs-12">
                    <div class="media">
                        <video id="c.id" width="100%" controls>
                            <source src="{{ c.snapshot_url }}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
</div>        
{% endblock %}
{% block footer %}
    {{ super() }} 
    
    {% assets "home_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}